# Project #
###########


# Project dependencies #
########################


# IDE #
#######
.idea/*
.vscode/*
/.vs
/HeroRotation_Rogue/APL_current.txt
/HeroRotation_Rogue/APL_new.txt
/HeroRotation_Rogue/APL_subtlety_current.txt
/HeroRotation_Rogue/APL_outlaw_new.txt
/HeroRotation_Rogue/APL_outlaw_current.txt
/HeroRotation_Rogue/.vs
